{% extends "sponsor_navbar.html" %}
{% block content %}
        <div id="main">
        <h4>Welcome {{ sponsor.S_username }}</h4></div><br>
        <div id="main1">
        <h5><i>Active Campaigns :</i></h5>
        <div class="container">
            <button class="btn btn-secondary">view</button>
        </div>
        <div class="container">
            <button class="btn btn-secondary">view</button>
        </div><br>
    </div>
    <div id="main2">
        <h5><i>New Requests :</i></h5>
        <div class="container">
            <button class="btn btn-secondary">view</button>
            <button class="btn btn-success">accept</button>
            <button class="btn btn-danger">reject</button>
        </div>
        <div class="container">
            <button class="btn btn-secondary">view</button>
            <button class="btn btn-success">accept</button>
            <button class="btn btn-danger">reject</button>
        </div></div><br><br>
        {% endblock %}
        </body>
        </html>
        